<div class="row">
  <% if currently_driving %>
      <%= render :partial => "rides/current_drive", locals: {ride: currently_driving} %>
  <% elsif available_rides %>
      <%= render :partial => "rides/available_rides", locals: {rides: available_rides} %>
  <% else %>
      <h3>Sorry, no one needs a ride right now.</h3>
  <% end %>
</div>
