<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= button_to 'Request a Ride', new_ride_path, class: 'btn btn-success btn-lg', type: 'button', method: 'get' %>
  </div>
</div>
