<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center">Goober</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3 class="text-center">Sign Up</h3>
    Rider
    Driver
  </div>
</div>
