<div class="col-md-4 col-md-offset-1">
  <h2>Ride Status:</h2>

  <p><%= ride.status.humanize %></p>
  <%= render partial: "rides/ride_status_btn", locals: {ride: ride} %>


  <h3>Pickup Location:</h3>

  <p><%= ride.pickup_location %></p>

  <h3>Destination:</h3>

  <p><%= ride.dropoff_location %></p>
</div>
